@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap");
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}

.mainx {
  background-color: #ffc107;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  backdrop-filter: blur(10px);
}
.header__brand {
  padding: 1rem;
}
.header__brand > img {
  height: 3rem;
}
.header__nav-ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
}
.header__nav-ul-link {
  padding: 6px 20px;
  font-size: 1.4rem;
}
.header__nav-ul-link-active {
  border: 2px solid white;
  border-radius: 10px;
  padding: 6px 20px;
  font-size: 1.4rem;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.hero__animation_circle {
  position: absolute;
  height: 60rem;
  width: 60rem;
  border-radius: 100%;
  top: -25%;
  left: -5%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
  animation: grow 60s ease-in-out infinite;
}
.hero__animation_circle::after {
  content: " ";
  position: absolute;
  height: 40rem;
  width: 40rem;
  border-radius: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
  animation: grow 64s ease-in-out infinite;
}
.hero__animation_circle::before {
  content: " ";
  position: absolute;
  height: 30rem;
  width: 30rem;
  border-radius: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
  animation: grow 56s ease-in-out infinite;
}
.hero__img {
  width: 40%;
  z-index: 1;
}
.hero__img > img {
  height: 30vw;
}
.hero__img > img::after {
  content: "";
}
.hero-text {
  width: 50%;
  padding: 1rem;
  color: #000;
  z-index: 3;
}
.hero-text > h1 {
  font-size: 4.2rem;
  font-weight: 800;
}
.hero-text > h2 {
  font-weight: 600;
  margin: 1rem 0;
  font-size: 2rem;
  opacity: 0.6;
}

.about {
  padding: 4rem 1rem;
  background-color: white;
  color: #333;
  z-index: 2;
}
.about__title > h2 {
  text-align: right;
  opacity: 0.3;
}
.about__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.about__info-text {
  text-align: center;
  margin: 4rem 0;
}
.about__info-text-heading {
  font-size: 4rem;
}
.about__info-text-heading > span {
  color: #ffc107;
}
.about__info-text-heading-min {
  font-size: 2rem;
  opacity: 0.7;
}
.about__info-text-heading-sub {
  font-size: 1rem;
}
.about__info-img {
  display: flex;
  flex-direction: row;
}
.about__info-img > img {
  height: 30rem;
}

.footer {
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  z-index: 10;
}
.footer__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem;
}
.footer__info-section-link {
  padding: 0.4rem 0;
  font-size: 1rem;
  opacity: 0.7;
}
.footer__info-section-heading {
  font-size: 1.4rem;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding: 6px 0;
  margin-bottom: 1rem;
}
.footer__info-section-ul {
  list-style: none;
}
.footer__info-section #download {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 6px 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.footer__info-section #download:hover {
  color: black;
  background-color: white;
}
.footer__copyright {
  text-align: center;
}
.footer__copyright > p {
  font-weight: 600;
  opacity: 0.3;
}

/*# sourceMappingURL=style.css.map */
