@include respond(tablet) {
    .hero {
        &__animation_cirle {
            display: inline-block;
        }

        &-text {
            padding: 2rem;

            &>h1 {
                font-size: 8rem;
            }

            &>h2 {
                font-size: 6rem;
            }
        }

        &__img {
            height: 70%;

            &>img {
                height: 80%;
            }
        }
    }

    .about {
        padding: 12rem 2rem;

        &__info {
            text-align: center;

            &-img {
                &-dsc>p {
                    font-size: 4rem;
                }

                &>img {
                    height: 60rem;
                    margin: 6rem 0;
                }
            }
        }
    }

    .services {
        text-align: center;

        &__info {
            &-features {
                &-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    &-feature {
                        width: 40%;

                        &-dsc {
                            padding: 2rem;
                            text-align: left;

                            &>span {
                                padding: 2rem 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .testimonials {
        text-align: center;

        &__list {
            flex-direction: row;

            &-item {
                padding: 6rem;
                width: 30%;

                &-card {
                    &-head {
                        padding: 2rem;
                    }
                }
            }
        }
    }

    .footer {
        &__info {
            flex-direction: row;
        }
    }
}